@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  border: 0;
  margin: 0;
}

#root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: black;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30em;
}

.status-bar {
  margin-bottom: 1em;
  font-family: "Pacifico";
  box-shadow: 0 0 4px orange;
  border-radius: 1em;
  margin-top: 2em;
}

.title {
  color: orange;
  text-align: center;
  font-size: 4em;
  border-bottom: 1px dotted #6b4604;
}

.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  height: 30em;
  margin-bottom: 3em;
  position: relative;
}

.board-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.waiting-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  top: 0;
  left: 0;
}

.waiting-overlay-inner {
  position: absolute;
  width: 80%;
  height: 80%;
  margin: 10%;
}

.loading {
  width: 80%;
  height: 80%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10%;
  left: 10%;
  opacity: 0.5;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  font-size: 4em;
  cursor: pointer;
  outline: none;
  border: 1px solid orange;
  animation: squares-animation 2s infinite alternate;
  font-family: Pacifico;
}

@keyframes squares-animation {
  0% {
    border: 0px solid rgb(83, 57, 8);
    box-shadow: 0 0 0px orange;
    color: rgb(122, 87, 21);
    text-shadow: none;
  }
  100% {
    box-shadow: 0 0 30px orange;
    color: orange;
    text-shadow: 0 0 3px #fff;
  }
}

.square:nth-child(1) {
  border-top: none;
  border-left: none;
  border-top-left-radius: 20px;
}

.square:nth-child(2) {
  border-top: none;
}

.square:nth-child(3) {
  border-top: none;
  border-right: none;
  border-top-right-radius: 20px;
}

.square:nth-child(4) {
  border-left: none;
}

.square:nth-child(6) {
  border-right: none;
}

.square:nth-child(7) {
  border-bottom: none;
  border-left: none;
  border-bottom-left-radius: 20px;
}

.square:nth-child(8) {
  border-bottom: none;
}

.square:nth-child(9) {
  border-right: none;
  border-bottom: none;
  border-bottom-right-radius: 20px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px dotted #6b4604;
  padding: 1em 0;
}

.action {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-new-game,
.join-game-button {
  background-color: #ffa500;
  color: white;
  border-radius: 5px;
  padding: 0.2em 1em;
  cursor: pointer;
}

.input-join-game {
  padding: 0.2em 1em;
  width: 4em;
  box-shadow: inset 0 0 5px;
  margin-left: 0.5em;
}

.messages {
  color: white;
  margin-bottom: 1em;
  text-align: center;
  font-family: monospace;
  font-size: 1.2em;
  margin: 1em 0;
}

.message {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.message {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.message-colored {
  color: orange;
  font-size: 1.6em;
  letter-spacing: 2px;
}

.message p {
  padding: 0 2em;
  margin-bottom: 1em;
}
overlay .message-colored {
  color: orange;
  font-size: 1.6em;
  letter-spacing: 2px;
}

.gameId {
  font-size: 1.6em;
  font-weight: bold;
  margin-left: 1em;
}

.game-details {
  font-size: 1.4em;
  font-weight: bold;
}

.footer {
  color: #eee;
  margin-bottom: 2em;
}

.layer1-address {
  word-break: break-word;
  margin: 1em 0;
}

.buttons-bridge {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button-bridge-link {
  background-color: #ffa500;
  color: white;
  border-radius: 5px;
  padding: 0.2em 1em;
  cursor: pointer;
  text-decoration: none;
}

.bridge-instructios-title {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.bridge-instructions {
  margin: 1em 0;
  line-height: 1.4em;
}

.spacer {
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px dotted #aaa;
  margin: 1em 0 2em 0;
}
